/* .post-wrapper {
    width: 84%;
    height: 350px;
    margin: auto;
    border: 1px dashed red;
}

.post-wrapper .post {
    height: 350px;
    width: 300px;
    display: inline-block;
    background-color: blue;
} */